.navbar{
    margin-top: 65px;
    margin-bottom: 45px;
    padding:20px !important;
    border-radius: 15px;
    width: 100%;
}


.navbar.navbar-expand-lg a {
    color: black;
}

body {
    background-color: #272836 !important;
    color: #FFFFFF !important;
}
.modal-title {
    color: black;
}

.modal-body{
    background-color: #272836;
}

#landing_text{
    font-size: 26px;
    margin-left: 20%;
    margin-right: 20%;
}

#line {
    border-top: 10px solid #DEAF69;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

#lineForum {
    border-top: 10px solid #DEAF69;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.nav-link:hover {
    color: #DEAF69 !important; /* Change to your desired text color on hover */
}

.navbar .active {
    color: #DEAF69  !important;
}

#characterCard{
    background-color: #DEDEDE;
    color:black;
    margin-top: 20px;
    border-radius: 15px;
    border-bottom: 10px solid #DEAF69;
}

#characterCardText{
    font-size: 20px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 5px solid #DEAF69;
}


#taskCardText{
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid #DEAF69;
}

.text-area {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

#taskdropdown{
    background-color: #DEDEDE; 
    border-radius: 10px;
    color: black !important;
    position: relative;
}

#taskList{
    margin-top: 5px;
}

#taskButton{
    width: 200px;
}
#taskDropDownTitle{
    font-size: 25px;
}

#taskTable{
    margin-top: 5px;
    background-color: #272836;
    border-radius: 10px;
    color: #FFFFFF !important;
}
#taskTableManager{
    margin-top: 5px;
    background-color: #FFFFFF;
    color: black !important;
    border-radius: 10px;
}

.characterTaskMenu{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

.characterTaskDelRow:hover {color: #FA9B9B;}

.characterTaskModalRow:hover {color: #A8FA9B;}

.characterTaskModalRow {
    cursor: pointer;
}

th {
    cursor: pointer;
}

.characterTaskDelRow {
    cursor: pointer;
}

.characterTaskListRow:hover{
    color: #A8FA9B;
}

.characterTaskListRow{
    cursor: pointer;  
}

.card-title {
    text-decoration: none !important;
    text-align: left  !important;
    color: black !important;
}


.card-text {
    text-align: left;
    color: black;
}

.btn-success{
    color: black !important;
    border-color: #A8FA9B !important;
    background-color: #A8FA9B  !important; 
}

.btn-danger{
    color: black !important;
    border-color: #FA9B9B !important;
    background-color: #FA9B9B  !important; 
}

.card{
    margin-bottom: 5px;
}